AuthName "Hockey Draft Protection"
AuthType Basic
AuthUserFile /home/hockeydraft/.hockeydraft_htpasswd
Require valid-user
ExpiresActive On
ExpiresDefault "access plus 2 days"
SetEnv GEM_PATH /home/hockeydraft/.gems:/usr/lib/ruby/gems/1.8
